.container {
    position: absolute;
    top: 0;
    left: 0;
}

.temperatureUnitPicker {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

.unitToggle {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.unitToggle input[type="radio"] {
    display: none;
}

.unitToggle label {
    user-select: none;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.unitToggle input[type="radio"]:checked+label {
    background-color: #ffffff;
}